
:root {
    /*---COLORS---*/
    --txt-color: black;
    --header-color: grey;
    --bg-color: white;
    
    /*---FONT---*/
    --quote-size: 1.5rem;
    --header-size: 1.5rem;
}

body, html {
    padding: 0; margin: 0;
}
html {
    font-size: 100%;
}

*{
    text-align: center;
    box-sizing: border-box;
}

body {
    height: 100vh;
    
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

header, footer {
    font-size: var(--header-size);
    background: rgb(194, 190, 190);
}

main {
    background: var(--bg-color);
    text-align: center;
    /*height: 60%;*/
    min-height: 200px;
    margin: 0 auto;
    width: 99%;

    display: flex;
    flex-direction: column;
}

#board {
    flex: 1%;
    
    min-height: 16em;
    width: 100%;
    margin: 0 auto;
    border-radius: 5%;
    
    color: rgb(223, 222, 233);
    background: rgba(0, 0, 0, 0.74);    
}

#quote {
    font-size: var(--quote-size);
    padding: 1em;
}

.buttons {
    flex: 1;
    
    margin: 0 auto;
    width: 100%;
    margin-top: 2em;
    
}

@media (min-width: 600px) {
    :root {
        --quote-size: 2rem;
        --header-size: 3rem;
    }

    main {
        width: 600px;
    }

}



@media (min-width: 1200px ) {

    :root {
        --quote-size: 2.5vw;
    }

    .buttons {
        width: 50%;
    }

    
    #board {
        min-height: 16em
    }

    main {
        width: 50vw;
        max-width: 800px;
    }

}